In [2]:
import pandas as pd

### Cargar una base de datos
**nrows:** Permite fijar el número de filas que queremos cargar.

df será el parámetro que contendrá el DataFrame

In [3]:
df = pd.read_csv(r"C:\Users\Flavio Isay\Documents\MEGAsync\Cursos\Python para data science y big data esencial\base_datos_2008.csv", nrows = 10000)

**head()** nos muestra las primeras 5 filas del DataFrame.

In [4]:
df.head(10)

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,335,...,4.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
1,2008,1,3,4,754.0,735,1002.0,1000,WN,3231,...,5.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2,2008,1,3,4,628.0,620,804.0,750,WN,448,...,3.0,17.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3,2008,1,3,4,926.0,930,1054.0,1100,WN,1746,...,3.0,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,...,3.0,10.0,0,NaN,0,2.0,0.0,0.0,0.0,32.0
5,2008,1,3,4,1940.0,1915,2121.0,2110,WN,378,...,4.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
6,2008,1,3,4,1937.0,1830,2037.0,1940,WN,509,...,3.0,7.0,0,NaN,0,10.0,0.0,0.0,0.0,47.0
7,2008,1,3,4,1039.0,1040,1132.0,1150,WN,535,...,7.0,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
8,2008,1,3,4,617.0,615,652.0,650,WN,11,...,6.0,19.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
9,2008,1,3,4,1620.0,1620,1639.0,1655,WN,810,...,3.0,6.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN

** tail()** nos da las últimas filas de la base de datos

In [5]:
df.tail()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
9995,2008,1,6,7,2000.0,1955,2121.0,2115,WN,593,...,5.0,13.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
9996,2008,1,6,7,1624.0,1620,1742.0,1740,WN,618,...,4.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
9997,2008,1,6,7,1946.0,1805,2059.0,1930,WN,646,...,4.0,8.0,0,NaN,0,0.0,0.0,6.0,0.0,83.0
9998,2008,1,6,7,1549.0,1430,1706.0,1550,WN,656,...,3.0,6.0,0,NaN,0,0.0,48.0,0.0,0.0,28.0
9999,2008,1,6,7,1050.0,1050,1211.0,1210,WN,680,...,6.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN

### Ordenar nuestra base de datos

In [6]:
df = df.sample(frac = 1) # Nos muestra el DataFrame desordenado
                         # frac = 1, significa que debe mantener las columnas que tenemos

Si se desea explorar las columnas.
Se coloca paréntesis cuando no se manda a llamar a uno de los atributos del DataFrame, es decir cuando se aplica una función.

In [7]:
df.columns # Muestra en una lista todos los nombres de las columnas que se tienen.

Index(['Year', 'Month', 'DayofMonth', 'DayOfWeek', 'DepTime', 'CRSDepTime',
       'ArrTime', 'CRSArrTime', 'UniqueCarrier', 'FlightNum', 'TailNum',
       'ActualElapsedTime', 'CRSElapsedTime', 'AirTime', 'ArrDelay',
       'DepDelay', 'Origin', 'Dest', 'Distance', 'TaxiIn', 'TaxiOut',
       'Cancelled', 'CancellationCode', 'Diverted', 'CarrierDelay',
       'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay'],
      dtype='object')

In [8]:
df.DepTime # Nos muestra la columna DepTime

6315     724.0
6487    1043.0
7490    2038.0
9751    2354.0
9245    1437.0
         ...
7791    2205.0
360     1030.0
1480     657.0
2366    1511.0
111     1229.0
Name: DepTime, Length: 10000, dtype: float64

In [10]:
df.dtypes # Muestra los distintos tipos de variables

Year                   int64
Month                  int64
DayofMonth             int64
DayOfWeek              int64
DepTime              float64
CRSDepTime             int64
ArrTime              float64
CRSArrTime             int64
UniqueCarrier         object
FlightNum              int64
TailNum               object
ActualElapsedTime    float64
CRSElapsedTime         int64
AirTime              float64
ArrDelay             float64
DepDelay             float64
Origin                object
Dest                  object
Distance               int64
TaxiIn               float64
TaxiOut              float64
Cancelled              int64
CancellationCode      object
Diverted               int64
CarrierDelay         float64
WeatherDelay         float64
NASDelay             float64
SecurityDelay        float64
LateAircraftDelay    float64
dtype: object

In [11]:
df.values # Devuelve los datos en array

array([[2008, 1, 5, ..., nan, nan, nan],
       [2008, 1, 5, ..., 53.0, 0.0, 0.0],
       [2008, 1, 5, ..., 0.0, 0.0, 44.0],
       ...,
       [2008, 1, 3, ..., nan, nan, nan],
       [2008, 1, 3, ..., nan, nan, nan],
       [2008, 1, 3, ..., 8.0, 0.0, 0.0]], dtype=object)

In [12]:
### Guardar bases de datos en otra estructura

In [13]:
df2 = df.head(10) # Primeras diez filas de df

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
6315,2008,1,5,6,724.0,725,832.0,835,WN,583,...,5.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
6487,2008,1,5,6,1043.0,1040,1223.0,1130,WN,3748,...,5.0,13.0,0,NaN,0,0.0,0.0,53.0,0.0,0.0
7490,2008,1,5,6,2038.0,1935,2258.0,2200,WN,2612,...,4.0,12.0,0,NaN,0,14.0,0.0,0.0,0.0,44.0
9751,2008,1,6,7,2354.0,2120,57.0,2225,WN,2896,...,5.0,10.0,0,NaN,0,0.0,0.0,2.0,0.0,150.0
9245,2008,1,6,7,1437.0,1430,1535.0,1530,WN,438,...,4.0,9.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
7802,2008,1,5,6,2022.0,2010,2056.0,2035,WN,2871,...,3.0,14.0,0,NaN,0,12.0,0.0,9.0,0.0,0.0
2639,2008,1,4,5,2133.0,2040,2126.0,2040,WN,239,...,4.0,8.0,0,NaN,0,0.0,0.0,0.0,0.0,46.0
4852,2008,1,4,5,1829.0,1735,1912.0,1755,WN,2359,...,11.0,18.0,0,NaN,0,0.0,54.0,23.0,0.0,0.0
3629,2008,1,4,5,1333.0,1315,1800.0,1755,WN,479,...,3.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
1230,2008,1,3,4,816.0,815,905.0,915,WN,491,...,3.0,6.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN