# Transformaciones de la base de datos

Es una modificación de la estructura de nuestra base de datos. Por ejemplo
- Añadir filas.
- Quitar filas.
- etc.

In [1]:
import pandas as pd

df = pd.read_csv(r"C:\Users\Flavio Isay\Documents\MEGAsync\Cursos\Python para data science y big data esencial\base_datos_2008.csv")

### Crear una columna nueva

In [2]:
# Dar un nombre a la columna nueva, es el redonde de la columna ArrDelay dividida por 60
df['HoursDelay'] = round(df['ArrDelay'] / 60)

In [3]:
# Mostrar columna
df['HoursDelay'].head()

0   -0.0
1    0.0
2    0.0
3   -0.0
4    1.0
Name: HoursDelay, dtype: float64

Python entiende que un redondeo por debajo de 0 lleva el signo negativo, pero será un cero en los cálculos

### Eliminar una columna

In [4]:
del(df["HoursDelay"])

In [5]:
df.head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,335,...,4.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
1,2008,1,3,4,754.0,735,1002.0,1000,WN,3231,...,5.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2,2008,1,3,4,628.0,620,804.0,750,WN,448,...,3.0,17.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3,2008,1,3,4,926.0,930,1054.0,1100,WN,1746,...,3.0,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,...,3.0,10.0,0,NaN,0,2.0,0.0,0.0,0.0,32.0

### Borrar varias columnas a la vez

In [6]:
df = df.drop(['Diverted','Cancelled','Year'], axis = 1) # Especificar donde se quiere borrar con el eje (axis = 1)

In [9]:
# df.drop(['Diverted','Cancelled','Year'], axis = 1, inplace = True) # inplace indica que borrara en el mismo objeto donde se aplica la funcion se borrara

KeyError: "['Diverted' 'Cancelled' 'Year'] not found in axis"

### Borrar filas con la función drop

In [9]:
df.drop(0) # Elimina la fila numero 0

,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,...,Dest,Distance,TaxiIn,TaxiOut,CancellationCode,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
1,1,3,4,754.0,735,1002.0,1000,WN,3231,N772SW,...,TPA,810,5.0,10.0,NaN,NaN,NaN,NaN,NaN,NaN
2,1,3,4,628.0,620,804.0,750,WN,448,N428WN,...,BWI,515,3.0,17.0,NaN,NaN,NaN,NaN,NaN,NaN
3,1,3,4,926.0,930,1054.0,1100,WN,1746,N612SW,...,BWI,515,3.0,7.0,NaN,NaN,NaN,NaN,NaN,NaN
4,1,3,4,1829.0,1755,1959.0,1925,WN,3920,N464WN,...,BWI,515,3.0,10.0,NaN,2.0,0.0,0.0,0.0,32.0
5,1,3,4,1940.0,1915,2121.0,2110,WN,378,N726SW,...,JAX,688,4.0,10.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7009723,12,13,6,1002.0,959,1204.0,1150,DL,1636,N646DL,...,IAD,533,6.0,45.0,NaN,NaN,NaN,NaN,NaN,NaN
7009724,12,13,6,834.0,835,1021.0,1023,DL,1637,N908DL,...,SAT,874,5.0,23.0,NaN,NaN,NaN,NaN,NaN,NaN
7009725,12,13,6,655.0,700,856.0,856,DL,1638,N671DN,...,ATL,545,24.0,12.0,NaN,NaN,NaN,NaN,NaN,NaN
7009726,12,13,6,1251.0,1240,1446.0,1437,DL,1639,N646DL,...,ATL,533,13.0,13.0,NaN,NaN,NaN,NaN,NaN,NaN
7009727,12,13,6,1110.0,1103,1413.0,1418,DL,1641,N908DL,...,ATL,874,8.0,11.0,NaN,NaN,NaN,NaN,NaN,NaN

### Eliminar muchas filas

In [10]:
df.drop(range(0,100000)) # Para guardar colocar inplace o asignar a df

,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,...,Dest,Distance,TaxiIn,TaxiOut,CancellationCode,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
100000,1,30,3,1936.0,1935,2258.0,2257,XE,7676,N11176,...,OKC,866,7.0,28.0,NaN,NaN,NaN,NaN,NaN,NaN
100001,1,3,4,607.0,600,858.0,852,XE,7677,N14177,...,SLC,619,7.0,16.0,NaN,NaN,NaN,NaN,NaN,NaN
100002,1,4,5,552.0,600,849.0,852,XE,7677,N33182,...,SLC,619,6.0,19.0,NaN,NaN,NaN,NaN,NaN,NaN
100003,1,5,6,552.0,600,940.0,852,XE,7677,N17169,...,SLC,619,9.0,15.0,NaN,0.0,0.0,48.0,0.0,0.0
100004,1,7,1,637.0,600,935.0,852,XE,7677,N11181,...,SLC,619,4.0,36.0,NaN,37.0,0.0,6.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7009723,12,13,6,1002.0,959,1204.0,1150,DL,1636,N646DL,...,IAD,533,6.0,45.0,NaN,NaN,NaN,NaN,NaN,NaN
7009724,12,13,6,834.0,835,1021.0,1023,DL,1637,N908DL,...,SAT,874,5.0,23.0,NaN,NaN,NaN,NaN,NaN,NaN
7009725,12,13,6,655.0,700,856.0,856,DL,1638,N671DN,...,ATL,545,24.0,12.0,NaN,NaN,NaN,NaN,NaN,NaN
7009726,12,13,6,1251.0,1240,1446.0,1437,DL,1639,N646DL,...,ATL,533,13.0,13.0,NaN,NaN,NaN,NaN,NaN,NaN
7009727,12,13,6,1110.0,1103,1413.0,1418,DL,1641,N908DL,...,ATL,874,8.0,11.0,NaN,NaN,NaN,NaN,NaN,NaN

### Añadir nuevas filas a las base de datos

In [10]:
# DataFrame con las filas con origen especificado

dfATL = df[df.Origin == "ATL"]
dfHOU = df[df.Origin == "HOU"]

### Sumar dos DataFrame

In [11]:
newdf = dfATL.append(dfHOU) # Posible porque ambos DataFrame tienen la misma estructura de columnas

In [15]:
newdf.Origin

103149     ATL
103572     ATL
104019     ATL
104124     ATL
104485     ATL
          ...
7003419    HOU
7004690    HOU
7005947    HOU
7007233    HOU
7008545    HOU
Name: Origin, Length: 470446, dtype: object