# Groupby: obtener información esencial

In [1]:
import pandas as pd
df = pd.read_csv(r'C:\Users\Flavio Isay\Documents\MEGAsync\Cursos\Python para data science y big data esencial\base_datos_2008.csv')

El **Groupby** es una herramienta que nos permite realizar operaciones matemáticas sencillas agrupando por categorías

## Caso práctico: Se buscará el retraso de los vuelos al llegar a su lugar de destino

In [2]:
df.groupby(by = 'DayOfWeek')['ArrDelay'].max() # Se coloca primero by con el nombre de columna, el segundo otro nombre de columna y el tercero el nombre de una función.and

# Nos agrupa por días de la semana y nos da un valor del retraso de los vuelos y aplica una función
# En otras palabras es el retraso máximo que ha tenido en la semana en toda la base de datos

DayOfWeek
1    1583.0
2    1951.0
3    1510.0
4    2453.0
5    1707.0
6    1525.0
7    2461.0
Name: ArrDelay, dtype: float64

In [3]:
df.groupby(by = 'DayOfWeek')['ArrDelay'].mean() # Media de retraso en los días de la semana

DayOfWeek
1     8.210850
2     7.481208
3     6.522017
4     8.411599
5    10.953440
6     5.789666
7     9.495886
Name: ArrDelay, dtype: float64

In [4]:
df.groupby(by = 'DayOfWeek')['ArrDelay'].min()

DayOfWeek
1   -519.0
2    -89.0
3    -87.0
4   -129.0
5    -86.0
6    -91.0
7    -92.0
Name: ArrDelay, dtype: float64

In [5]:
df.groupby(by = 'DayOfWeek')['ArrDelay'].count() # El número de casos

DayOfWeek
1    1013410
2    1005992
3    1016995
4    1011970
5    1008872
6     841663
7     956127
Name: ArrDelay, dtype: int64

In [6]:
df.groupby(by = 'DayOfWeek')['ArrDelay'].describe() # Muestra un resumen estadístico agrupado para cada día de la semana

# count: Cuántos casos hay
# mean: media
# std: desviación estándar
# 25% 50% y 75%, los tres cuartiles
# max y min, máximo y mínimo, respectivamente

               count       mean        std    min   25%  50%   75%     max
DayOfWeek
1          1013410.0   8.210850  38.013811 -519.0 -10.0 -2.0  12.0  1583.0
2          1005992.0   7.481208  38.361073  -89.0 -11.0 -3.0  11.0  1951.0
3          1016995.0   6.522017  36.024679  -87.0 -10.0 -3.0  10.0  1510.0
4          1011970.0   8.411599  37.397411 -129.0 -10.0 -1.0  12.0  2453.0
5          1008872.0  10.953440  40.252320  -86.0  -9.0  0.0  15.0  1707.0
6           841663.0   5.789666  37.163120  -91.0 -11.0 -3.0   9.0  1525.0
7           956127.0   9.495886  41.759296  -92.0 -10.0 -2.0  12.0  2461.0

In [7]:
df.groupby(by = 'DayOfWeek')['ArrDelay', 'DepDelay'].mean() # Se calcula la media sobre estas columnas, se ve el resultado simultáneo de dos variables

# Asegurarse que ambas columnas son del mismo tipo

            ArrDelay   DepDelay
DayOfWeek
1           8.210850  10.269990
2           7.481208   8.976897
3           6.522017   8.289761
4           8.411599   9.772897
5          10.953440  12.158036
6           5.789666   8.645681
7           9.495886  11.568973

In [8]:
df.groupby(by = 'DayOfWeek')['ArrDelay'].max() - df.groupby(by = 'DayOfWeek')['ArrDelay'].min() # Permite ver el rango de valores para cada día de la semana

DayOfWeek
1    2102.0
2    2040.0
3    1597.0
4    2582.0
5    1793.0
6    1616.0
7    2553.0
Name: ArrDelay, dtype: float64

In [11]:
df_ATL_HOU = df[df.Origin.isin(['ATL','HOU'])] # Crear DataFrame

In [14]:
df_ATL_HOU.groupby(by = ['DayOfWeek','Origin'])['ArrDelay'].mean() # Se explorara el dia de semana y el origen

# Muestra cada día de la semana por separado los vuelos que salen de Atlanta y los que salen de Houston, y sus medias
# Permite comparar en cuál de los dos ciudades los vuelos se retrasan más al igual los días donde hay más retraso

DayOfWeek  Origin
1          ATL        9.123436
           HOU        6.356856
2          ATL        8.933587
           HOU        9.348112
3          ATL        8.809146
           HOU        9.073109
4          ATL       10.186501
           HOU       12.994016
5          ATL       14.797440
           HOU       11.036545
6          ATL        9.511662
           HOU        4.283933
7          ATL       13.798627
           HOU        7.045287
Name: ArrDelay, dtype: float64

In [17]:
df_ATL_HOU.groupby(by = ['Origin','DayOfWeek'])['ArrDelay'].mean() ## Orden diferente

# Es menos intuitivo, es más sencillo analizar al ordenar primero por día de la semana

Origin  DayOfWeek
ATL     1             9.123436
        2             8.933587
        3             8.809146
        4            10.186501
        5            14.797440
        6             9.511662
        7            13.798627
HOU     1             6.356856
        2             9.348112
        3             9.073109
        4            12.994016
        5            11.036545
        6             4.283933
        7             7.045287
Name: ArrDelay, dtype: float64

In [25]:
# Guardar

mygroupby = df_ATL_HOU.groupby(by = ['DayOfWeek','Origin'])['ArrDelay']

In [29]:
# Modificar funciones con la nueva variable creada

mygroupby.describe()

                    count       mean        std   min   25%  50%   75%     max
DayOfWeek Origin
1         ATL     60598.0   9.123436  30.958642 -69.0  -8.0  1.0  14.0   407.0
          HOU      8205.0   6.356856  28.887113 -47.0  -7.0 -2.0   9.0   383.0
2         ATL     59732.0   8.933587  34.750658 -89.0  -9.0 -1.0  13.0   848.0
          HOU      8368.0   9.348112  35.321852 -44.0  -7.0 -1.0  12.0   546.0
3         ATL     60245.0   8.809146  34.343042 -56.0  -9.0  0.0  13.0   876.0
          HOU      8330.0   9.073109  33.191673 -39.0  -7.0 -1.0  12.0   639.0
4         ATL     59721.0  10.186501  35.261512 -51.0  -8.0  1.0  15.0   571.0
          HOU      8188.0  12.994016  39.360946 -42.0  -6.0  1.0  17.0  1082.0
5         ATL     60007.0  14.797440  38.859778 -51.0  -7.0  3.0  20.0   699.0
          HOU      8209.0  11.036545  32.415069 -48.0  -6.0  1.0  16.0   560.0
6         ATL     49734.0   9.511662  36.020584 -61.0 -10.0 -1.0  15.0   483.0
          HOU      5614.0   4.283933  32.518381 -47.0  -9.0 -3.0   6.0   917.0
7         ATL     57664.0  13.798627  42.466233 -86.0  -8.0  1.0  17.0   612.0
          HOU      7331.0   7.045287  30.820505 -55.0  -7.0 -1.0  11.0   685.0