# Tratar datos duplicados y perdidos

In [4]:
import pandas as pd
df = pd.read_csv('base_datos_2008.csv', nrows= 1e6) # 1e6 = un millon de datos

Vamos a empezar hablando de los casos de duplicados, que, a no ser que se trate de casos muy específicos, donde nos interese contabilizar cuántas veces se repiten los casos concretos, el procedimiento habitual es eliminarlos.

In [5]:
# Crear un DataFrame con datos duplicados
df_duplicate = df.append(df)

In [7]:
# Reordenar
df_duplicate = df_duplicate.sample(frac = 1)

In [8]:
# Aplicar la funcion que elimina los casos faltantes
df_clean = df_duplicate.drop_duplicates()

In [9]:
# Es necesario comprobar si el numero de filas de dataframe nuevo es igual la cantidad de filas original
len(df_clean) == len(df) # Si es false quiere decir que habia filas repetidas

False

In [10]:
# El dataframe limpio tenia filas repetidas por lo que se eliminaron (cuatro)
len(df_clean)

999996

### Eliminación de datos específica

In [12]:
df_clean.drop_duplicates(subset = "DayofMonth") # Subset busca duplicados sobre la columna especificada

# Mantiene una sola fila para cada valor distinto de DayofMonth

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
830468,2008,2,24,7,1857.0,1856,2044.0,2049,UA,664,...,4.0,16.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
635397,2008,2,11,1,957.0,950,1243.0,1245,WN,1480,...,4.0,12.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
925691,2008,2,7,4,845.0,845,845.0,854,EV,4715,...,5.0,18.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
700797,2008,2,6,3,650.0,700,724.0,730,XE,7759,...,13.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
851501,2008,2,4,1,945.0,950,1152.0,1210,US,1557,...,5.0,11.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
702002,2008,2,8,5,2011.0,2000,2149.0,2134,XE,7811,...,22.0,15.0,0,NaN,0,0.0,0.0,4.0,0.0,11.0
747200,2008,2,29,5,1745.0,1745,1825.0,1824,YV,1006,...,6.0,9.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
845606,2008,2,27,3,1043.0,1041,1153.0,1154,UA,1548,...,5.0,19.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
991029,2008,2,12,2,NaN,1745,NaN,1835,MQ,4246,...,NaN,NaN,1,C,0,NaN,NaN,NaN,NaN,NaN
476433,2008,1,1,2,NaN,1925,NaN,2155,9E,5951,...,NaN,NaN,1,A,0,NaN,NaN,NaN,NaN,NaN
153286,2008,1,5,6,1545.0,1545,1829.0,1821,OH,5298,...,2.0,15.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
745251,2008,2,26,2,1706.0,1320,1757.0,1424,YV,7394,...,5.0,13.0,0,NaN,0,0.0,0.0,0.0,0.0,213.0
301271,2008,1,2,3,2213.0,2130,2315.0,2240,WN,625,...,6.0,8.0,0,NaN,0,1.0,0.0,0.0,0.0,34.0
500838,2008,1,14,1,756.0,800,941.0,955,AA,1173,...,11.0,12.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
499982,2008,1,18,5,1340.0,1330,1910.0,1905,AA,1144,...,9.0,22.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
809343,2008,2,28,4,1655.0,1643,1825.0,1825,OO,6639,...,9.0,9.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
598377,2008,1,9,3,1912.0,1855,2225.0,2243,DL,1085,...,5.0,28.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
164072,2008,1,23,3,1055.0,1055,1216.0,1223,OH,5387,...,5.0,16.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
874642,2008,2,22,5,1328.0,1325,1524.0,1527,US,1505,...,8.0,13.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
582647,2008,1,17,4,1437.0,1330,1543.0,1438,CO,1128,...,5.0,21.0,0,NaN,0,65.0,0.0,0.0,0.0,0.0
192196,2008,1,15,2,1215.0,1059,1310.0,1153,OO,5531,...,8.0,14.0,0,NaN,0,77.0,0.0,0.0,0.0,0.0
450398,2008,1,3,4,1208.0,1209,1250.0,1248,NW,1626,...,7.0,15.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
872529,2008,2,20,3,1326.0,1330,1519.0,1528,US,1868,...,4.0,11.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
320635,2008,1,30,3,611.0,620,1327.0,1354,DL,46,...,6.0,17.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
272268,2008,1,13,7,1756.0,1755,2041.0,2129,US,703,...,15.0,19.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
464314,2008,1,25,5,1918.0,1915,2012.0,2022,9E,4772,...,6.0,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
717189,2008,2,10,7,1254.0,1300,1429.0,1445,XE,2454,...,7.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
462104,2008,1,31,4,1155.0,1200,1312.0,1321,9E,3782,...,11.0,15.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
521390,2008,1,19,6,NaN,630,NaN,925,AA,1970,...,NaN,NaN,1,A,0,NaN,NaN,NaN,NaN,NaN
276046,2008,1,16,3,1106.0,1115,1219.0,1237,US,1604,...,8.0,11.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
998023,2008,2,21,4,1700.0,1705,1857.0,1850,MQ,4574,...,3.0,28.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN

### Gestionar datos faltantes

In [13]:
df.dropna() # Si lanza un dataframe vacio indica que no hay filas que no contengan un dato faltante (na)
# Esto es debido a que si el vuelo esta cancelado no tiene hora de llegada
# Si tiene hora de llegada el vuelo no esta cancelado

Empty DataFrame
Columns: [Year, Month, DayofMonth, DayOfWeek, DepTime, CRSDepTime, ArrTime, CRSArrTime, UniqueCarrier, FlightNum, TailNum, ActualElapsedTime, CRSElapsedTime, AirTime, ArrDelay, DepDelay, Origin, Dest, Distance, TaxiIn, TaxiOut, Cancelled, CancellationCode, Diverted, CarrierDelay, WeatherDelay, NASDelay, SecurityDelay, LateAircraftDelay]
Index: []

[0 rows x 29 columns]

In [14]:
# Gestionar datos faltantes de una forma no tan estricta
df.dropna(thresh = 25) # Se especifica cuantas entradas de todas las columnas queremos que esten llenas de informacion relevante, por ejemplo  25 entradas llenas de las 29 que hay

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,...,3.0,10.0,0,NaN,0,2.0,0.0,0.0,0.0,32.0
6,2008,1,3,4,1937.0,1830,2037.0,1940,WN,509,...,3.0,7.0,0,NaN,0,10.0,0.0,0.0,0.0,47.0
11,2008,1,3,4,1644.0,1510,1845.0,1725,WN,1333,...,6.0,8.0,0,NaN,0,8.0,0.0,0.0,0.0,72.0
16,2008,1,3,4,1452.0,1425,1640.0,1625,WN,675,...,7.0,8.0,0,NaN,0,3.0,0.0,0.0,0.0,12.0
18,2008,1,3,4,1323.0,1255,1526.0,1510,WN,4,...,4.0,9.0,0,NaN,0,0.0,0.0,0.0,0.0,16.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999973,2008,2,23,6,1306.0,1235,1514.0,1415,MQ,4694,...,3.0,50.0,0,NaN,0,31.0,0.0,28.0,0.0,0.0
999983,2008,2,28,4,1458.0,1235,1645.0,1415,MQ,4694,...,3.0,37.0,0,NaN,0,0.0,0.0,7.0,0.0,143.0
999988,2008,2,4,1,1754.0,1655,2056.0,2005,MQ,4695,...,2.0,9.0,0,NaN,0,0.0,0.0,0.0,0.0,51.0
999989,2008,2,5,2,1812.0,1655,2129.0,2005,MQ,4695,...,4.0,12.0,0,NaN,0,10.0,0.0,7.0,0.0,67.0
999994,2008,2,11,1,1717.0,1655,2030.0,2005,MQ,4695,...,4.0,23.0,0,NaN,0,0.0,0.0,3.0,0.0,22.0

In [15]:
# Se recomienda usar la siguiente linea
df.dropna(thresh = len(df.columns) - 2) # Si el DataFrame aumenta en tamaño se indica que solo tenga dos valores faltantes, las columnas con datos faltantes van e n bloque

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,...,3.0,10.0,0,NaN,0,2.0,0.0,0.0,0.0,32.0
6,2008,1,3,4,1937.0,1830,2037.0,1940,WN,509,...,3.0,7.0,0,NaN,0,10.0,0.0,0.0,0.0,47.0
11,2008,1,3,4,1644.0,1510,1845.0,1725,WN,1333,...,6.0,8.0,0,NaN,0,8.0,0.0,0.0,0.0,72.0
16,2008,1,3,4,1452.0,1425,1640.0,1625,WN,675,...,7.0,8.0,0,NaN,0,3.0,0.0,0.0,0.0,12.0
18,2008,1,3,4,1323.0,1255,1526.0,1510,WN,4,...,4.0,9.0,0,NaN,0,0.0,0.0,0.0,0.0,16.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999973,2008,2,23,6,1306.0,1235,1514.0,1415,MQ,4694,...,3.0,50.0,0,NaN,0,31.0,0.0,28.0,0.0,0.0
999983,2008,2,28,4,1458.0,1235,1645.0,1415,MQ,4694,...,3.0,37.0,0,NaN,0,0.0,0.0,7.0,0.0,143.0
999988,2008,2,4,1,1754.0,1655,2056.0,2005,MQ,4695,...,2.0,9.0,0,NaN,0,0.0,0.0,0.0,0.0,51.0
999989,2008,2,5,2,1812.0,1655,2129.0,2005,MQ,4695,...,4.0,12.0,0,NaN,0,10.0,0.0,7.0,0.0,67.0
999994,2008,2,11,1,1717.0,1655,2030.0,2005,MQ,4695,...,4.0,23.0,0,NaN,0,0.0,0.0,3.0,0.0,22.0

### Gestionar datos faltantes en una columna en concreto

In [16]:
df.dropna(subset = ["CancellationCode"]) # Con el comando subset se asigna una lista con el nombre de la columna que se quiere filtrar
# Devuelve un dataframe que no tiene NA en la columna CancellationCode

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
178,2008,1,3,4,NaN,700,NaN,830,WN,126,...,NaN,NaN,1,A,0,NaN,NaN,NaN,NaN,NaN
373,2008,1,3,4,NaN,1100,NaN,1215,WN,1146,...,NaN,NaN,1,A,0,NaN,NaN,NaN,NaN,NaN
399,2008,1,3,4,NaN,905,NaN,1025,WN,469,...,NaN,NaN,1,A,0,NaN,NaN,NaN,NaN,NaN
401,2008,1,3,4,NaN,1620,NaN,1740,WN,618,...,NaN,NaN,1,C,0,NaN,NaN,NaN,NaN,NaN
415,2008,1,3,4,NaN,1930,NaN,2035,WN,2528,...,NaN,NaN,1,A,0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999913,2008,2,11,1,NaN,855,NaN,1210,MQ,4693,...,NaN,NaN,1,A,0,NaN,NaN,NaN,NaN,NaN
999919,2008,2,17,7,NaN,855,NaN,1210,MQ,4693,...,NaN,NaN,1,B,0,NaN,NaN,NaN,NaN,NaN
999961,2008,2,17,7,NaN,1445,NaN,1630,MQ,4694,...,NaN,NaN,1,B,0,NaN,NaN,NaN,NaN,NaN
999971,2008,2,22,5,NaN,1235,NaN,1415,MQ,4694,...,NaN,NaN,1,B,0,NaN,NaN,NaN,NaN,NaN
999999,2008,2,17,7,NaN,1655,NaN,2005,MQ,4695,...,NaN,NaN,1,B,0,NaN,NaN,NaN,NaN,NaN