# Joins. Trabajar con bases de datos relacionales

Joins, unen distintas bases de datos en una misma estructura

In [1]:
import pandas as pd
consumidores = [('A','Móvil'),('B','Móvil'),('A','Portátil'),('A','Tablet'),
                ('B','Tablet'),('C','Portátil'),('D','Smartwatch'),('E','Consola')]

con_labels = ['Consumidor','Producto']

con_df = pd.DataFrame.from_records(consumidores, columns = con_labels)

productores = [('a','Móvil'),('a','Smartwatch'),('a','Tablet'),('b','Portatil'),
                ('c','Sobremesa'),('c','Portátil')]

prod_labels = ['Productor','Producto']

prod_df = pd.DataFrame.from_records(productores,columns = prod_labels)

In [2]:
con_df

  Consumidor    Producto
0          A       Móvil
1          B       Móvil
2          A    Portátil
3          A      Tablet
4          B      Tablet
5          C    Portátil
6          D  Smartwatch
7          E     Consola

In [3]:
prod_df # El orden no es lo importante, sino la informacion contenida

  Productor    Producto
0         a       Móvil
1         a  Smartwatch
2         a      Tablet
3         b    Portatil
4         c   Sobremesa
5         c    Portátil

### Unir dos bases de datos con merge

In [5]:
### outer

pd.merge(con_df,prod_df,on="Producto",how="outer")  # En on se especifica un nombre de columna, how especifica que tipo de join se va a usar
# Si no se encuentra un producto en una tabla pone un NaN

  Consumidor    Producto Productor
0          A       Móvil         a
1          B       Móvil         a
2          A    Portátil         c
3          C    Portátil         c
4          A      Tablet         a
5          B      Tablet         a
6          D  Smartwatch         a
7          E     Consola       NaN
8        NaN    Portatil         b
9        NaN   Sobremesa         c

In [6]:
### inner

pd.merge(con_df,prod_df,on="Producto",how="inner") # Omite el valor que no encuentra

  Consumidor    Producto Productor
0          A       Móvil         a
1          B       Móvil         a
2          A    Portátil         c
3          C    Portátil         c
4          A      Tablet         a
5          B      Tablet         a
6          D  Smartwatch         a

In [7]:
con_df

  Consumidor    Producto
0          A       Móvil
1          B       Móvil
2          A    Portátil
3          A      Tablet
4          B      Tablet
5          C    Portátil
6          D  Smartwatch
7          E     Consola

In [8]:
prod_df

  Productor    Producto
0         a       Móvil
1         a  Smartwatch
2         a      Tablet
3         b    Portatil
4         c   Sobremesa
5         c    Portátil

In [10]:
pd.merge(con_df,prod_df,on="Producto",how="right") #Importa el orden
# Une los data frames sole si encuentra la clave de la derecha

  Consumidor    Producto Productor
0          A       Móvil         a
1          B       Móvil         a
2          D  Smartwatch         a
3          A      Tablet         a
4          B      Tablet         a
5        NaN    Portatil         b
6        NaN   Sobremesa         c
7          A    Portátil         c
8          C    Portátil         c

In [11]:
pd.merge(con_df,prod_df,on="Producto",how="left") # Busca la clave en la izquierda, si no lo encuentra pone un NaN

  Consumidor    Producto Productor
0          A       Móvil         a
1          B       Móvil         a
2          A    Portátil         c
3          A      Tablet         a
4          B      Tablet         a
5          C    Portátil         c
6          D  Smartwatch         a
7          E     Consola       NaN